{% extends "accounts/auth-base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Sign In
{% endblock %}
{% block content %}

    <form class="form-signin" action="{% url 'accounts:signin'  %}" method="post">
        {% csrf_token %}
    {{ form|crispy}}
        <h1 class="h3 mb-3 font-weight-normal">
            Sign In
        </h1>
    {% for field in form %}

    {% endfor %}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </form>
{% endblock %}