{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block scripts %}
    {% include 'dashboard/js.html' %}
{% endblock %}

{% block content %}
     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="subject_switch">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" autocomplete="off" value= "Computer Organization" checked> Computer Organization
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off" value= "Data Structures" > Data Structures
          </label>
        </div>
      </div>
        <div class="d-flex">
            <div class="reflections col-6 px-4 shadow p-3 mb-5">
            <h2 class="text-center">Recent Reflections</h2>
            <div class="table-responsive">
                <table id="reflections_table" class="table">
                </table>
            </div>
            </div>
            <div class="col-6">
                <div class="row1 m-2">
                    <canvas id="recent_pie_chart"></canvas>
                </div>
                <div class="row2 m-2">
                    <canvas id="complete_pie_chart"></canvas>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="col mb-5">
                <canvas id="bar_chart"></canvas>
            </div>
        </div>
{% endblock %}