{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block scripts %}
    {% include 'dashboard/js.html' %}
{% endblock %}

{% block content %}
     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Computer Organization
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Data Structures
          </label>
        </div>
      </div>
        <div class="d-flex">
            <div class="reflections col-6 px-4 shadow p-3 mb-5">
            <h2 class="text-center">Recent Reflections</h2>
            <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 80%">Reflection</th>
                <th class="text-center">Topic</th>
              <th class="text-center">Accurate</th>
            </tr>
          </thead>
          <tbody>
          {% for reflection in reflections %}
              <tr>
                  <td class="text-justify">{{ reflection.formatted_description }}</td>
                  {% if reflection.topic == None %}
                      <td>-</td>
                  {% else %}
                      <td>{{ reflection.topic_id }}</td>
                  {% endif %}
              <td>{{ reflection.accuracy_percentage }}%</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
            <div class="text-center font-weight-light font-italic">{{ legend }}</div>
      </div>
        </div>
            <div class="col vertical-center">
                <canvas id="accuracy_chart"></canvas>
                <script>
                    var chartData = {{ chart_data|safe }}
                        console.log(chartData)
                    var ctx = document.getElementById("accuracy_chart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: chartData,
                        options: { }
                });
                </script>
            </div>
        </div>
{% endblock %}