<script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<script>
var selected_subject;
var selected_topic;

$(document).ready(function() {

    selected_subject = localStorage.getItem("subject_id");

    if (selected_subject == undefined){
        selected_subject = 0;
    }

    selected_topic = 0;

    getReflectionsData()

    $("body").on('click', '.dropdown-menu.dropdown-menu-right button', function () {

        var type = $(this).data("type");

        if (type == "subject"){
            selected_subject = $(this).data("id");
            selected_topic = 0;
        }
        else if(type == "topic"){
            selected_topic = $(this).data("id");
        }

        getReflectionsData()

        console.log(selected_subject)
    });
})

function getReflectionsData(){

    $.ajax({
        data: {'subject': selected_subject,
                'topic': selected_topic },
        method: "GET",
        url: "{%  url "reflections:reflection-data"  %}",
        success: function(data){
            setReflectionTable(data)
        },
        error: function(error_data){

            $('#reflections_table').empty();
            console.log("error")
            console.log(error_data)
        }
    })

    getSubjectsData()
    getTopicsData()
}

function getSubjectsData(){

    $.ajax({
        method: "GET",
        url: "{%  url "reflections:subject-data"  %}",
        success: function(data){
            setSubjectMenu(data)
        },
        error: function(error_data){

            console.log("error")
            console.log(error_data)
        }
    })
}

function getTopicsData(){

    $.ajax({
        data: {'subject': selected_subject},
        method: "GET",
        url: "{%  url "reflections:topic-data"  %}",
        success: function(data){
            setTopicMenu(data)
        },
        error: function(error_data){

            console.log("error")
            console.log(error_data)
        }
    })
}

function setReflectionTable(data){

    $('#reflections_table').empty();
    $('#reflections_table').append(data)
}

function setSubjectMenu(data){

    {#console.log(data)#}

    $('#subject_list').empty()

    if (selected_subject == 0){

        $('#subject_list').append('<button class="dropdown-item active" type="button" data-id=0 data-type="subject">All</button>')
    }
    else
    {
        $('#subject_list').append('<button class="dropdown-item" type="button" data-id=0 data-type="subject">All</button>')
    }

    for(index in data){

        if (selected_subject == data[index].id){

            $('#subject_list').append('<button class="dropdown-item active" type="button" data-id="'+data[index].id+'" data-type="subject">'+data[index].name+'</button>')
        }
        else
        {
            $('#subject_list').append('<button class="dropdown-item" type="button" data-id="'+data[index].id+'" data-type="subject">'+data[index].name+'</button>')
        }
    }
}

function setTopicMenu(data){

    {#console.log(data)#}

    $('#topic_list').empty()

    if (selected_topic == 0){

        $('#topic_list').append('<button class="dropdown-item active" type="button" data-id=0 data-type="topic">All</button>')
    }
    else
    {
        $('#topic_list').append('<button class="dropdown-item" type="button" data-id=0 data-type="topic">All</button>')
    }

    for(index in data){

        if (selected_topic == data[index].id){

            $('#topic_list').append('<button class="dropdown-item active" type="button" data-id="'+data[index].id+'" data-type="topic">'+data[index].name+'</button>')
        }
        else
        {
            $('#topic_list').append('<button class="dropdown-item" type="button" data-id="'+data[index].id+'" data-type="topic">'+data[index].name+'</button>')
        }
    }
}

</script>
