{% extends 'base.html' %}

{% block title %}
    Reflections
{% endblock %}

{% block scripts %}
    {% include 'reflections/js.html' %}
{% endblock %}

{% block content %}
    <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <form action="{% url 'reflections:reflections'  %}" method="post">
      {% csrf_token %}
     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 ">
        <h1 class="h2">Reflections</h1> 
          <div class="btn-group btn-group-toggle" >
              {% for subject in subjects %}
                {% if subject.name == Subject %}
                   <label for="subject topic">
                    <input name="topic" id="topic" value="NULL" hidden>
                    <button class="btn btn-primary active" type="radio" type="submit" name="subject" maxlength="100" id="subject" autocomplete="off" value="{{subject.name}}">{{subject.name}}</button>
                  </label>
                {% else %}
                  <label  for="subject topic">
                    <input name="topic" id="topic" value="NULL" hidden>
                    <button class="btn btn-primary" type="radio" type="submit" name="subject" maxlength="100" id="subject" autocomplete="off" value="{{subject.name}}">{{subject.name}}</button>
                  </label>
                {% endif %}
              {% endfor %}
        </div>
        </div>
    </form>

    {% if Subject != "NULL" %}
          <form action="{% url 'reflections:reflections'  %}" method="post">
            {% csrf_token %}
           <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 ">
              <h1 class="h2"></h1>
                <div class="btn-group btn-group-toggle" >
                    {% for topic in topics %}
                      {% if topic.name == Topic %}
                         <label for="subject topic">
                          <input name="subject" id="subject" value="{{Subject}}" hidden>
                          <button class="btn btn-primary active" type="radio" type="submit" name="topic" maxlength="100" id="topic" autocomplete="off" value="{{topic.name}}">{{topic.name}}</button>
                        </label>
                      {% else %}
                        <label for="subject topic">
                          <input name="subject" id="subject" value="{{Subject}}" hidden>
                          <button class="btn btn-primary" type="radio" type="submit" name="topic" maxlength="100" id="topic" autocomplete="off" value="{{topic.name}}">{{topic.name}}</button>
                        </label>
                      {% endif %}
                    {% endfor %}
              </div>
              </div>
          </form>
          {% endif %}

        </div>

  


        <div class="d-flex">
            <div class=" col-12 px-4 p-3 mb-5">
            
              <button onclick="window.location.href='/dashboard'" class="btn-link float-right mb-3" >Go To Dashboard</button>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Tweet</th>
              <th>Subject</th>
              <th>Topic</th> 
              
              <th>Accurate</th>
              <th>Inaccurate Category</th>

              <th>Time</th>
              <th>Expert Comment</th>
            </th>
          </thead>
          <tbody>
            <tr>
              {% for reflection in reflections %}
                <th style="width: 5%">{{forloop.counter}}</th>
                <th style="width: 40%">{{reflection.formatted_description }}</th>
                <th style="width: 10%">{{ reflection.subject }}</th>
                <th style="width: 5%">{% if reflection.topic == None %}
                      -
                    {% else %}
                        {{ reflection.topic_id }}
                    {% endif %}</th>
                <th style="width: 5%">{{ reflection.accuracy_percentage }}%</th>
                <th style="width: 10%">{{ reflection.inaccuracy_category}}</th>
                <th style="width: 10%">{{ reflection.date}}</th>
                <th style="width: 15%">{% if reflection.comments|length > 0 %}
                          {{ reflection.comments}}
                        {% else %}
                          -
                        {% endif %}</th>
             </tr>
           {% endfor %}
          </tbody>
        </table>

        </div>
      </div>
{% endblock %}