{% extends 'base.html' %}

{% block title %}
    Expert Page
{% endblock %}
{% block stylesheets %}
    {% include 'expert/css.html' %}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Student Reflections</h1>

        <button type="button" class="btn btn-primary" onclick="window.location.href = './'" >Download</button>

        {% if reflection_form_set %}
        <button type="submit" class="btn btn-primary" form="reflectionForm" >Submit</button>
        {% else %}
        <button type="submit" class="btn btn-primary" form="reflectionForm" disabled>Submit</button>
        {% endif %}
    </div>

    {% if reflection_form_set %}
    <form id="reflectionForm" action="{% url 'expert:submit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    {{ reflection_form_set.management_form }}
        {% for form in reflection_form_set %}
{#            <div class="row mb-3">#}
{#            {% for form in forms %}#}
            {{ form.id }}
            {{ form.description }}
            {{ form.subject }}
                <div class="col-12">
                    <div class="card bg-light mb-3">
                            <h5 class="card-header lead">{{ form.description.value }}</h5>
                            <div class="card-body">
                                <div class="form-group row">
                                <label for="{{ form.topic.id }}" class="ml-2 col-form-label col-form-label-lg">Topic</label>
                                    <div class="col">
                                    {{ form.topic }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="{{ form.accuracy.id }}" class="ml-2 col-form-label col-form-label-lg">Accuracy</label>
                                        <div class="col-2 my-1">
                                            {{ form.accuracy }}
                                        </div>
                                    <label for="{{ form.inaccuracy_category.id }}" class="ml-2 col-form-label col-form-label-lg">In-Accuracy Category</label>
                                        <div class="col">
                                            {{ form.inaccuracy_category }}
                                        </div>
                                </div>
                            </div>
                            {{ form.comments }}
                        </div>
                </div>
            {% endfor %}
            </div>
{#        {% endfor %}#}
    </form>
    {% else %}
        <div class="d-flex">
            <span class="align-middle">No reflections to show</span>
        </div>
    {% endif %}

{% endblock %}